<a class="{{ classes|join(' ') }}"
   data-url="{{ url }}"
   data-title="{{ title }}"
   data-description="{{ description|striptags }}"
   style="background-image: url('{{ icon }}');">{{ 'Share'|trans }}</a>
